bandit==1.7.8
beautifulsoup4==4.12.3
black==24.4.2
certifi==2024.6.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
distlib==0.3.8
filelock==3.14.0
flake8==7.0.0
identify==2.5.36
idna==3.7
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pathspec==0.12.1
pbr==6.0.0
platformdirs==4.2.2
pre-commit==3.7.1
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
six==1.16.0
soupsieve==2.5
stevedore==5.2.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.2
